@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<UniALPRMain.Models.Person>

@{
    ViewData["Title"] = "Index";
}


<div class="camera-grid-container full-h">

    <div class="camera-grid-content">
        <h2 class="left-block-header">База сотрудников</h2>
        
            <a asp-action="Create">
                <div class="button button-green button-margin">Добавить нового сотрудника</div>
             </a>
       
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">
                                <div class="button button-green">Изменить</div>
                            </a> 
                            <a asp-action="Delete" asp-route-id="@item.Id">
                                <div class="button button-red">Удалить</div>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>

<style>
    .left-block-header {
        margin: 0px;
    }

    .camera-grid-content {
        padding: 28px;
    }
</style>
